<div class="box">
	<% at = types %>
	<% at.each do |type| %>
		<div class="font16">
			<strong><%= type.titleize %></strong>
		</div>
		<% asset_type = entity.reflections[type.to_sym].class_name %>
		<% asset_class = eval(asset_type) %>
		<div class="admin-asset-box fl">
			<ul class="ui-sortable" unselectable="on">
				<% assets = eval("entity.#{type}") %>
				<% assets.each do |asset| %>
					<%= render :partial => "assets/asset", :locals => {:asset => asset} %>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="clr"></div>
</div>
